
body {
  background: grey;
  margin: 0px;
  min-height: 5000px;
}

.icon {
  width: 40px;
}

.logo {
  display: inline-block;
}

.logo-container {
  display: inline-block;
  padding-left: 40px;

}

.icon-container {
  display: inline-block;
  float: right;
  padding-right: 40px;
  padding-top: 10px;
}

.container {
  background: white;
  position: relative;
  top: 20px;
  margin-left: 60px;
  margin-right: 60px;
  height: 100%;
}

.contact-container {
  text-align: right;
  padding-right: 40px;
}

.menu {
  background: darkslategrey;
  color: white;
  width: 1080px;
  position: relative;
  left: 40px;
  margin-top: 10px;
  height: 40px;
  text-align: justify;
}

#myCarousel {
  width: 1080px;
  margin-top: 20px;
  margin-left: 40px;
  height: 400px;
  overflow: hidden;
  position: absolute;
}

.carousel-caption {
  position: relative;
  left: 100px;
  bottom: 700px;
  display: inline-block;
  background-color: rgba(47,79,79, 0.8);
}

.carousel-caption p {
  margin: 10px;
}

.red {
  position: absolute;
  background-color: red;
  width: 100px;
  height: 20px;
  bottom: 650px;
  left: 184px;
  text-align: none;
}

.red h2 {
  font-size: 15px;
  margin: 0;
  height: 20px;
  position: relative;
  bottom: 5px;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: table;
    height: 40px;
    width: 100%;
}

li {
  display: table-cell;
  width: 14.29%;
  text-align: center;
  padding-top: 10px;
}

.welcome-text {
  position: relative;
  top: 450px;
  text-align: center;
  padding-left: 40px;
  padding-right: 40px;
}

.first-hr {
  position: relative;
  top: 480px;
  width: 1080px;
}

.circle-image {
  border-radius: 50%;
  width: 20%;
  margin-right: 30px;
}

.images-holder {
  position: relative;
  top: 500px;
  text-align: center;

}

.service-titles {
  position: relative;
  top: 530px;
  text-align: center;
  margin-left: 60px;
}

.service-title {
  font-size: 30px;
  margin-right: 90px;
}

.service-info {
  position: relative;
  top: 550px;
  left: 70px;
}

.service-info p {
  display: inline-block;
  width: 200px;
  margin-right: 60px;
}

.read-more-buttons {
  position: relative;
  top: 560px;
  left: 100px;
}

.read-more {
  margin-right: 130px;
  font-size: 25px;
  color: orange;
}

.testimonials {
  position: relative;
  top: 600px;
  background-color: lightgray;
  text-align: center;
  height: 130px;
  width: 1170px;
  left: -15px;
}

.client-quote {
  display: inline-block;
  position: relative;
  max-width: 600px;
  top: 30px;
}

